.logo {
    height: 22px;
    width: auto;
}

/* Actual sidebar content */
.sidebar {
    padding: 20px;
}

.sidebar ul {
    padding: 0px !important;
    margin: 0px !important;
    padding-top: 48px !important;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li button {
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: left;
    justify-content: left;
    background: transparent;
}

.sidebar ul li button:hover {
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: left;
    justify-content: left;
    background: #393778;
}


/* MenuButton.css */
.active-menu-button {
    width: 100%;
    margin-bottom: 12px !important;
    background: #737DF5 !important;
}

.menu-button {
    width: 100%;
    margin-bottom: 8px !important;
}

.button-inner {
    width: 100%;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-sm-3 {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-p-tag {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px 12px;
}