.logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}

/* Actual sidebar content */
.sidebar {
    padding: 20px;
}


.sidebar ul {
    margin-bottom: 0px;
    padding-top: 32px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li button {

    color: white;
    text-align: left;
    justify-content: left;
}