
/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 20%; /* same as sidebar width */
  width: 98%;
  background: #fff;
  z-index: 1100;
  padding: 12px 20px;
  border-bottom: 1px solid #E8E9EB;
}


header .row {
  margin: 0px !important;
}

/* Rounded Button */
header button.rounded-circle {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #F4F5FF;
  color: #242424;
  font-size: 20px;
  margin-right: 12px;
}

header button.rounded-circle:hover {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #F4F5FF;
  color: #737DF5;
  font-size: 20px;
  margin-right: 12px;
  border: 1px solid #737DF5;
}

/* My Account Tab */
.myAccount {
  text-transform: capitalize !important;
  color: #737DF5 !important;
}

header button.myAccount {
  text-transform: capitalize !important;
  color: #737DF5 !important;
  border: 1px solid transparent;
  border-radius: 12px;
}

header button.myAccount:hover {
  text-transform: capitalize !important;
  color: #737DF5 !important;
  border: 1px solid #737DF5;
}

.myAccount.menu-open {
  text-transform: capitalize !important;
  color: #737DF5 !important;
  border: 1px solid #737DF5;
}

.myAccount .userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.myAccount .userImg .rounded-circle img {
  object-fit: cover;
  width: 100%;
}

.myAccount .userInfo p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #242424;
}

.myAccount .userInfo p:hover {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #737DF5;
}