@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: 'DM Sans', 'Nunito', sans-serif;
  font-optical-sizing: auto;
  background: #f8f8f8;
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

p, span, div {
  font-family: 'Nunito', sans-serif;
}

.main .sidebarWrapper{
  width: 20%;
  flex: 0 0 20%; 
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar{
  width: 20%; 
  height: 100vh; 
  position: fixed; 
  top: 70px; 
  left: 0px; 
  background: #fff;
  border-right: 1px solid #E8E9EB;
}


.main {
  background: #f8f8f8;
  width: 100%;
  padding-top: 90px;
  padding-left: 20px;
  min-height: 100vh;
}
