@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{margin: 0px; padding: 0px;}

body {
  font-family: 'DM Sans', 'Nunito', sans-serif;
  font-optical-sizing: auto;
  background: #F8F8F8;
}




h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}

p, span, div {
  font-family: 'Nunito', sans-serif;
}