/* UserMenu.css */

/* Main Menu Container */
.custom-user-menu {
  width: 356px;
  margin-top: 14px;
  overflow: visible;
  position: relative;
  padding: 0px 16px 10px 16px !important;  /* Top, Right, Bottom, Left padding */
}


.custom-user-menu.open {
  border: 1.5px solid #EAEAEA;
  border-radius: 12px;
}

/* User Information Border */
.user-info-border {
  display: flex;
  align-items: start; /* Vertically align avatar and text */
  padding: 12px 16px 20px; /* Top, Right, Bottom, Left padding */
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  margin-bottom: 16px;
  margin-top: 8px;
}

.user-info-border:hover {
  display: flex;
  align-items: start; /* Vertically align avatar and text */
  padding: 12px 16px 20px; /* Top, Right, Bottom, Left padding */
  border: 1px solid #737DF5;
  border-radius: 12px;
  margin-bottom: 16px;
  margin-top: 8px;
}

/* Avatar Styling */
.custom-user-menu .MuiAvatar-root {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-color: #F0F1FF;
  color: #737DF5;
  font-family: Nunito;
  font-size: 16px;
}

/* Menu Arrow (the little triangle) */
.custom-user-menu::before {
  content: "";
  display: block;
  position: absolute;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: translateY(30%) rotate(45deg);
  z-index: 0;
}

/* Individual Menu Items */
.menu-item-custom {
  padding-left: 12px !important;
  display: flex;
  justify-content: flex-start;
  margin-top: 14px !important;
  border: 1px solid transparent !important;
}


.menu-item-custom:hover {
  padding-left: 12px !important;
  background-color: transparent !important;
  border-radius: 12px;
  border: 1px solid #737DF5 !important;
}


.menu-item-custom img {
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
}

.menu-item-custom p {
  font-weight: 700;
  font-size: 18px;
}

.p-tag{
  margin: 0px !important;
}